
body {
  background-color: #262626;
}
.title{
text-align: center;
margin: 30px;
border-bottom: 3px solid #C4C4C4;
-webkit-text-stroke: .25px black;
color: white;
}
#border{
  width: 75%;
  margin-left: auto;
  margin-right:auto;
}

.cards {
    justify-content: center;
}

.flip-card1, .flip-card3, .flip-card5 {
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    margin-left: 20%;
}

.flip-card2, .flip-card4 {
    width: 300px;
    height: 200px;
    float: right;
    margin-top: -150px;
    margin-right: 20%;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card2:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card3:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card4:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card5:hover .flip-card-inner {
    transform: rotateY(180deg);
  }


  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #A66DA2;
    
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .info_tile_people img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
   margin-left:75px;
   margin-top:-65px;
    position: absolute;
    box-shadow: 0 0 5px 5px rgba(34, 34, 34, 0.685);
}
.container_people {
  border-radius: 25px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  padding: 50px;
  margin:30px;

}
.leaderName{
  text-align: center;
  margin-top:40px;
  font-size: 32px;
}
.leaderNameDiana{
  text-align: center;
  margin-top:40px;
  font-size: 30px;
}
.leaderNameNicholas{
  text-align: center;
  margin-top:40px;
  font-size: 25px;
}
.info_text_people {
  background-color: #C4C4C4;
  width: 250px;
  height: 160px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-shadow: 0 0 7px 7px rgba(34, 34, 34, 0.685);
}
.position_people{
  background-color: #588C49;
  border-radius: 20%;
  width: 175px;
  height: 80px;
 margin-left:35px;
 margin-top:-50px;
  position: absolute;
  box-shadow: 0 0 5px 5px rgba(34, 34, 34, 0.685);
}
.description{
  text-align: center;
  margin-top:30px;
}
.descriptionKelly{
  text-align: center;
  margin-top:20px;
}
.descriptionSyed{
  text-align: center;
  margin-top:15px;
}
.descriptionNic{
  text-align: center;
  margin-top:15px;
}
#boardPpl{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}