* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #262626;
}

.navbar {
    background-color: #c4c4c4;
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    align-items: center;
}

.parallax {
    /* The image used */
    background-image: url("/images/SCD_Writing_Logo.png");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-left: 150%;
    margin-top: 40px;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 15px;
}
.menu_item {
    padding: 10px;
}

.menu_link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu_link:hover {
    color: gray;
    transition: al 0.3s ease;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.info_tile {
    margin: auto;
    box-shadow: 0 0 10px black;
}

.info_tile img {
    width: 250px;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.container h2 {
    margin: -30px 0px 0px 10px;
    position: absolute;
    color: white;
}

.info_text {
    background-color: #090909;
    width: 250px;
    height: 160px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

.container p {
    color: white;
    font-size: 12px;
    text-align: justify;
}

.data_tile {
    margin: auto;
    box-shadow: 0 0 10px black;
}

.data_body {
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    padding: 25px 50px;
}

.data_num {
    background-color: #c4c4c4;
    width: 300px;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.piechart {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        #A66DA2 70deg, 
        #04B2D9 0 180deg,
        #588C49 0 250deg, 
        orange 0 );
}

.circle {
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 20px 20px;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.data_text {
    text-align: center;
}
.data_text h3 {
    font-size: 16px;
}

.data_text h4 {
    font-size: 32px;
    color: black;
    margin: 0px;
    margin-left: 5px;
}

.clock {
    border-radius: 50%;
    background: #fff url(/images/ios_clock.svg) no-repeat center;
    background-size: 88%;
    width: 200px;
    height: 200px;
    position: relative;
  }

  .minutes-container, .hours-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #000;
    height: 2.5%;
    left: 48.75%;
    position: absolute;
    top: 53%;
    width: 20%;
    transform: rotate(30deg);
  }

  .minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    width: 2%;
  }

  .footer {
    background-color: #c4c4c4;
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
      justify-content: space-around;
    }


  .footer_row {
      display: flex;
      justify-content: space-around;
  }
  .footer_cont {
      margin: 50px;
  }

  .footer_cont p {
      margin-left: 10px;
  }
