
.row {
    margin-bottom: 20px;
    padding: 40px 10% 0px 10%;
}

.tile_body, .tile_body2 {
    width: 70%;
    height: 250px;
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.tile_body2{
    float: right;
}
